.salePropsContainer{
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.tittlePropsSale{
    margin-top: 4rem;
}

.tittlePropsSale h1{
    margin: 2rem;
    text-align: center;
}

/* Pequeños dispositivos */
@media(min-width:320px) {


}

/* Tablets - Mia Intermedia */
@media(min-width:600px){
    .salePropsContainer{
        flex-direction: row;
    }

}


/* Tablets */
@media(min-width:700px){


}


/* Monitor Regular */
@media(min-width:992px){


}