#reloj{
    position: fixed;
    bottom: 1rem;
    font-size: 2rem;
    border: 1px solid black;
    background-color: rgb(196, 200, 250);
    padding: 0.5rem;
    border-radius: 5px;
    font-weight: bolder;
}

#dia{
    font-weight: bold;
    background-color: royalblue;
    margin: auto;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    width: 60%;
    padding: 1rem;
}