.titteleHeroSection{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    backdrop-filter: blur(1px);
}

.titteleHeroSection h1{
    font-weight: 700;
    color: #f1f1f1;
    text-shadow: 1px 1px 1px black;
}

/* Pequeños dispositivos */
@media(min-width:320px) {
    .titteleHeroSection h1{
        margin: 0;
    }
}

/* Celular */
@media(min-width:480px) {
    .titteleHeroSection h1{
        margin: 1rem;
    }
}

/* Monitor Regular */
@media(min-width:992px){
    .titteleHeroSection h1{
        font-size: 3em;
    }
}