.contenedor{
    display: flex;
    gap: 1em;
    flex-wrap: wrap;

}

.carta{
    background-color: black;
    color: aliceblue;
    width: 200px;
    padding: 10px 10px;
    border-radius: 10px;
}

.imgCard{
    width: 100%;
}