* {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url(../img/azul\ con\ irradiacion.jpg);
    background-size: cover;
}

.FormatNav {
    width: 800px;
    margin: auto;
    background-color: rgb(34, 32, 32);
    margin-top: 50px;
}

.MenuHorizontal {
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: .8rem;
}

.MenuHorizontal li a {
    display: block;
    padding: 15px 25px;
    color: whitesmoke;
    text-decoration: none;
    width: 150px;
}

.MenuHorizontal li:hover {
    background-color: rgba(8, 0, 83, 0.651);
}

.MenuVertical {
    display: none;
    position: absolute;
    list-style: none;
    width: 200px;
    background-color: rgba(0, 0, 0, .5);
}

.MenuHorizontal li:hover .MenuVertical{
    display: block;
}  