nav{
    background-color: blueviolet;
    text-align: center;
    padding: .5rem;
    display: flex;
    justify-content: space-around;
}

nav ul{
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li a{
    color: aliceblue;
}

nav{
    color: aliceblue;
}