main{
    background-color: rgb(242, 245, 250);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

article{
    background-color: rgb(109, 109, 129);
    width: 14rem;
    padding: 2rem;
    margin: 1rem;
}

.nombre{
    color: whitesmoke;
    font-size: 1.4rem;
}

.imagen{
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    padding: 1rem;
    box-shadow: 0 0 10px rgb(15, 15, 15);
}

.imagen img{
    width: 100%;
    padding: 1rem;
}